<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">CP Unified</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<% if (locals.user) { %>
				<li class="nav-item">
					<a class="nav-link" href="/tasks/batches">Batches</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/tasks/interviews">Interviews</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/tasks/students">Students</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/tasks/results">Results</a>
				</li>
				<% } %>
			</ul>
			<% if (locals.user) { %>
			<p class="h6 me-5 mt-2"><%= user.email %></p>
			<% } %>
			<div class="d-flex justify-content-end">
				<% if (locals.user) { %>
				<a
					class="btn btn-sm btn-outline-secondary m-1"
					href="/users/change-password"
					role="button"
					>Change Password</a
				>
				<form class="m-1" action="/users/sign-out" method="post">
					<button class="btn btn-sm btn-outline-secondary" type="submit">
						Log Out
					</button>
				</form>
				<% } %>
			</div>
		</div>
	</div>
</nav>
