<!DOCTYPE html>
<html lang="en">
	<head>
		<script language="javascript" src="\js\bootstrap.min.js"></script>
		<link rel="stylesheet" href="\css\bootstrap.min.css" />
		<title>CP-Unified</title>
	</head>
	<body>
		<%- include('_toast.ejs') %> <%- include('_header.ejs') %> <%-body%>
	</body>
</html>
