<h1><%= batch.name %></h1>
<button class="btn btn-sm btn-outline-secondary ms-1">
	<a class="nav-link" href="/tasks/batches">Go Back</a>
</button>

<div class="list-group col-sm-5 mt-3">
	<ol class="list-group-numbered ps-1">
		<% if (batch.students) { %> <% batch.students.forEach(student => { %>
		<a
			href="/tasks/student-details/<%= student.id %>"
			class="list-group-item list-group-item-action"
			><%= student.name %></a
		>

		<% }) %> <% } %>
	</ol>
</div>
